# Frontend
# dependencies
/Frontend/node_modules
/Frontend-Service/node_modules

# built site
/Frontend/build

# testing
/Frontend/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#riot-examples
riot/microCoapTwoLEDs/bin
riot/microCoapTwoLEDs/.*
