html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  user-select: none;

  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 8px;

  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: scale(0.98);
  box-shadow: none;
}
